html, body {
	height: 100%;
}
body {
	display: flex;
	margin: 0px;
}

#network {
	width: 100%;
	height: 100%;
	background-color: #0a0908;
}

#help {
	position: absolute;
	top: 20px;
	left: 23px;
	color: #f9f9f9;
	opacity: 0.9;
	font-family: Cambria;
	font-size: 35px;
	cursor: pointer;
	text-shadow: 0px 0px 2px #0a090881;
}
#closeHelp {
	position: absolute;
	top: 33px;
	left: 346px;
	color: #adadad;
	opacity: 0.9;
	font-family: Cambria;
	font-size: 35px;
	cursor: pointer;
	z-index: 1;
	text-shadow: 0px 0px 2px #0a090881;
	display: none;
}
#closeHelp:hover {
	color: #f9f9f9;
}
#helpText {
	width: 300px;
	height: auto;
	background-color: #403d39;
	position: absolute;
	top: 35px;
	left: 35px;
	padding: 19px;
	font-family: Cambria;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 5px 5px 3px #0a090881;
	overflow-wrap: normal;
	display: none;
}
#helpLegend {
	width: auto;
	height: auto;
	background-color: #403d39;
	position: absolute;
	top: 35px;
	left: 375px;
	padding: 19px;
	font-family: Cambria;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 5px 5px 3px #0a090881;
	display: none;
}
#helpLegend > p {
	padding: 0;
	margin: 0;
	font-size: 13px;
}
.arrow.red {color: #be301a}
.arrow.pink {color: #ffc2d4}
.arrow.green {color: #aad576}
.arrow.blue {color: #386fa4}
.arrow.gray {color: #d3d3d3}
.arrow.black {color: #50514f}
.person.imp {color: #be301a}
.person.mus {color: #386fa4}
.person.roy {color: #679436}
.person.reg {color: #625556}

#infoCard {
	width: auto;
	height: auto;
	background-color: #403d39;
	position: absolute;
	top: 35px;
	right: 35px;
	padding: 25px 32px 25px 32px;
	font-family: Cambria;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 5px 5px 3px #0a090881;
	overflow-wrap: normal;
	display: none;
}
#closeCard {
	position: absolute;
	top: 33px;
	right: 43px;
	color: #adadad;
	font-size: 32px;
	z-index: 1;
	cursor: pointer;
	text-shadow: 0px 0px 2px #0a090881;
	display: none;
}
#closeCard:hover {
	color: #f9f9f9;
}

#image {
	position: absolute;
	top: 25px;
	width: 100px;
	height: 100px;
	z-index: 1;
	display: none;
	overflow: hidden;
	border-radius: 50%;
	border-color: 1px solid #0a0908;
	box-shadow: 1px 1px 2px #0a090881;
	cursor: pointer;
}
#image > img {
	width: 100%;
	height: auto;
}

#name {
	text-align: center;
	font-style: italic;
	font-size: 30px;
	padding-bottom: 5px;
}
#alt {
	text-align: center;
	font-size: 13px;
	color: #adadad;
}
#birth {
	text-align: center;
	font-size: 12px;
	padding-bottom: 8px;
}
#occupation {
	text-align: center;
	font-size: 17px;
	padding-bottom: 10px;
}
#relation {
	text-align: center;
	font-size: 13px;
}

#sourceCard {
	width: auto;
	height: auto;
	max-width: 450px;
	background-color: #403d39;
	position: absolute;
	right: 35px;
	padding: 20px 27px 20px 27px;
	font-family: Cambria;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 3px 3px 2px #0a090881;
	overflow-wrap: normal;
	display: none;
}
#citation {
	font-size: 13px;
}
#extract {
	font-size: 16px;
}
.source {
	font-size: 9px;
	cursor: pointer;
	margin-left: 4px;
}

a {
	color: #f9f9f9;
}
a:visited {
	color: #adadad;
}