html, body {
	height: 100%;
	font-size: 62.5%;
}
body {
	display: flex;
	margin: 0px;
}

#network {
	width: 100%;
	height: 100%;
	background-color: #0a0908;
}

#info {
	display: none;
}
#infoCard {
	width: auto;
	height: auto;
	background-color: #403d39;
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
	padding: 2.5rem 3.2rem 2.5rem 3.2rem;
	font-family: Cambria;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 0.5rem 0.5rem 0.3rem #0a090881;
	overflow-wrap: normal;
}
#closeInfo {
	position: absolute;
	top: 3.3rem;
	right: 4.3rem;
	color: #adadad;
	font-size: 3.5rem;
	z-index: 1;
	cursor: pointer;
	text-shadow: 0rem 0rem 0.2rem #0a090881;
}
#closeInfo:hover {
	color: #f9f9f9;
}

#image {
	position: absolute;
	top: 2.5rem;
	width: 10rem;
	height: 10rem;
	z-index: 1;
	overflow: hidden;
	border-radius: 50%;
	border-color: 0.1rem solid #0a0908;
	box-shadow: 0.1rem 0.1rem 0.2rem #0a090881;
	cursor: pointer;
	display: none;
}
#image > img {
	width: 100%;
	height: auto;
}

#name {
	text-align: center;
	font-style: italic;
	font-size: 3rem;
	padding-bottom: 0.5rem;
}
#alt {
	text-align: center;
	font-size: 1.3rem;
	color: #adadad;
}
#birth {
	text-align: center;
	font-size: 1.2rem;
	padding-bottom: 0.8rem;
}
#occupation {
	text-align: center;
	font-size: 1.7rem;
	padding-bottom: 1rem;
}
#relation {
	text-align: center;
	font-size: 1.3rem;
}
.relatedNode {
	cursor: pointer;
}

#links {
	text-align: center;
}
#links > a {
	text-decoration: none;
}
#youtubeBtn,
#spotifyBtn,
#googleBtn {
	opacity: 0.5;
	stroke-width: 0;
	fill: #adadad;
	cursor: pointer;
	text-shadow: 0rem 0rem 0.2rem #0a090881;
	user-select: none;
}
#youtubeBtn:hover {
	opacity: 0.9;
	fill: #ff0000;
}
#spotifyBtn:hover {
	opacity: 0.9;
	fill: #4caf50;
}
#googleBtn:hover {
	opacity: 0.9;
}
#googleBtn:hover > g > path:nth-child(1) {
	fill: #fbbd00;
}
#googleBtn:hover > g > path:nth-child(2) {
	fill: #0f9d58;
}
#googleBtn:hover > g > path:nth-child(3) {
	fill: #31aa52;
}
#googleBtn:hover > g > path:nth-child(4) {
	fill: #3c79e6;
}
#googleBtn:hover > g > path:nth-child(5) {
	fill: #cf2d48;
}
#googleBtn:hover > g > path:nth-child(6) {
	fill: #eb4132;
}

#sourceCard {
	width: auto;
	height: auto;
	max-width: 35rem;
	background-color: #403d39;
	position: absolute;
	right: 3.5rem;
	padding: 2rem 2.7rem 2rem 2.7rem;
	font-family: Cambria;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 0.3rem 0.3rem 0.2rem #0a090881;
	overflow-wrap: normal;
	display: none;
}
#citation {
	font-size: 1.2rem;
}
#extract {
	font-size: 1.4rem;
}
.source {
	font-size: 1.1rem;
	cursor: pointer;
	margin-left: 0.4rem;
}

#filter {
	display: none;
}
#filterBtn {
	position: absolute;
	bottom: 2.7rem;
	right: 9.5rem;
	opacity: 0.9;
	stroke-width: 1;
	stroke: #0a0908;
	fill: #f9f9f9;
	cursor: pointer;
	text-shadow: 0rem 0rem 0.2rem #0a090881;
	user-select: none;
}
#filterCard {
	width: 22rem;
	height: auto;
	background-color: #403d39;
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
	padding: 1.9rem;
	font-family: Cambria;
	font-size: 1.6rem;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 0.5rem 0.5rem 0.3rem #0a090881;
}
#closeFilter {
	position: absolute;
	top: 3.3rem;
	right: 4.3rem;
	color: #adadad;
	opacity: 0.9;
	font-family: Cambria;
	font-size: 3.5rem;
	cursor: pointer;
	z-index: 1;
	text-shadow: 0rem 0rem 0.2rem #0a090881;
}
#closeFilter:hover {
	color: #f9f9f9;
}
#filterCard > div {
	padding-bottom: 1rem;
}
#filterCard > input {
	margin-bottom: 0.5rem;
	width: 100%;
}
#filterCard > #searchBtn {
	margin-top: 0.5rem;
	width: 7rem;
}

#config {
	display: none;
}
#configBtn {
	position: absolute;
	bottom: 2.7rem;
	right: 5.8rem;
	opacity: 0.9;
	stroke-width: 1;
	stroke: #0a0908;
	fill: #f9f9f9;
	cursor: pointer;
	text-shadow: 0rem 0rem 0.2rem #0a090881;
	user-select: none;
}
#closeConfig {
	position: absolute;
	top: 3.3rem;
	right: 4.3rem;
	color: #adadad;
	opacity: 0.9;
	font-family: Cambria;
	font-size: 3.5rem;
	cursor: pointer;
	z-index: 1;
	text-shadow: 0rem 0rem 0.2rem #0a090881;
}
#closeConfig:hover {
	color: #f9f9f9;
}
#configCard {
	width: 22rem;
	height: auto;
	background-color: #403d39;
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
	padding: 1.9rem;
	font-family: Cambria;
	font-size: 1.6rem;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 0.5rem 0.5rem 0.3rem #0a090881;
}
#layout,
#layout > div,
#arrows,
#arrows > div {
	padding-bottom: 1rem;
}
#layout > label {
	vertical-align: top;
}
#hierarchyLayout {
	padding-bottom: 0.5rem;
}
#arrows > input,
#hierarchyLayout > input,
#randomLayout > input {
	margin: 0.3rem 0rem 0.5rem 0rem;
	width: 100%;
}
#arrows > select,
#hierarchyLayout > select {
	margin: 0.3rem 0rem 0.5rem 0rem;
	height: 2.2rem;
	width: 102%;
}
#randomLayout {
	padding-bottom: 0.5rem;
	display: none;
}

#help {
	display: none;
}
#helpBtn {
	position: absolute;
	bottom: 2.7rem;
	right: 2.5rem;
	color: #f9f9f9;
	opacity: 0.9;
	stroke-width: 1;
	stroke: #0a0908;
	fill: #f9f9f9;
	cursor: pointer;
	text-shadow: 0rem 0rem 0.2rem #0a090881;
	user-select: none;
}
#closeHelp {
	position: absolute;
	top: 3.3rem;
	right: 4.3rem;
	color: #adadad;
	opacity: 0.9;
	font-family: Cambria;
	font-size: 3.5rem;
	cursor: pointer;
	z-index: 1;
	text-shadow: 0rem 0rem 0.2rem #0a090881;
}
#closeHelp:hover {
	color: #f9f9f9;
}
#helpCard {
	width: 30rem;
	height: auto;
	background-color: #403d39;
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
	padding: 1.9rem;
	font-family: Cambria;
	font-size: 1.6rem;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 0.5rem 0.5rem 0.3rem #0a090881;
	overflow-wrap: normal;
}
#helpCard > p:first-child {
	margin-top: 0rem;
}
#legendCard {
	width: auto;
	height: auto;
	background-color: #403d39;
	position: absolute;
	top: 3.5rem;
	right: 37.7rem;
	padding: 1.9rem;
	font-family: Cambria;
	color: #f9f9f9;
	opacity: 0.95;
	box-shadow: 0.2rem 0.2rem 0.2rem #0a090881;
}
#legendCard > p {
	padding: 0;
	margin: 0;
	font-size: 1.3rem;
}
#projectPage {color: #f9f9f9;}
#projectPage:visited {color: #adadad;}
.arrow.red {color: #be301a}
.arrow.pink {color: #ffc2d4}
.arrow.green {color: #aad576}
.arrow.blue {color: #386fa4}
.arrow.gray {color: #d3d3d3}
.arrow.black {color: #50514f}
.person.imp {color: #be301a}
.person.mus {color: #386fa4}
.person.roy {color: #679436}
.person.reg {color: #625556}

@media only screen and (max-width: 768px) {
	#infoCard {
		max-width: 30rem;
	}
}